<!-- Education Section -->

<br>

<div class="row bg-success rounded-3">

    <div class="row-sm-3">
        <div class="col-sm-2">

            <br>

            <div class="card text-warning bg-transparent border-warning mb-3"> 
                <div class="card-body">

                    <h2 class="card-title mb-2">Education</h2>
                    
                </div>
            </div>

        </div>
    </div>
        
    {% for education in educations.all %}

        <div class="col-sm-5">

            <br>

            <div class="card text-dark bg-transparent border-dark mb-3"> 
                
                <div class="card-body">

                    <h4 class="card-title mb-2">{{ education.institution }}</h4>
                    <h5 class="card-subtitle mb-2">{{ education.level }}</h5>
                    <h6 class="card-subtitle mb-2">{{ education.grade }}</h6>
                    <h6 class="card-subtitle mb-2">{{ education.start_date }} - {{ education.finish_date }}</h6>
                    
                </div>
            </div>

            <!-- if last column in row -->
            {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div><div class="row">
            {% endif %}

        </div>

    {% endfor%}

</div>