<!-- Languages Section -->

<br>

<div class="row bg-success rounded-3">

    <div class="row">
        <div class="col-sm-3">

            <br>

            <div class="card text-primary bg-transparent border-primary mb-3"> 
                <div class="card-body">

                    <h2 class="card-title mb-2">Languages</h2>
                    
                </div>
            </div>

        </div>
    </div>

    <br>
        
    {% for language in languages.all %}

        <div class="col-sm-2">

            <br>

            <div class="card text-dark bg-transparent border-dark mb-3"> 
                
                <div class="card-body">
                    <h4 class="card-title mb-2">{{ language.language }}</h4>
                    <h5 class="card-subtitle mb-2">{{ language.level }}</h5>
                </div>
            </div>

            <!-- if last column in row -->
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
            </div><div class="row">
            {% endif %}

        </div>

    {% endfor%}

</div>