{% extends 'home_app/base.html' %}
{% load static %}

{% block content %}

<div class="container">

    {% block experience %}
        {% include "resume_app/experience.html" %}
    {% endblock %}

    {% block education %}
        {% include "resume_app/education.html" %}
    {% endblock %}

    {% block publications %}
        {% include "resume_app/publications.html" %}
    {% endblock %}

    {% block languages %}
        {% include "resume_app/languages.html" %}
    {% endblock %}

    {% block volunteer %}
        {% include "resume_app/volunteer.html" %}
    {% endblock %}

</div>

<br>




{% endblock %}